@import "./mixin";
@import "./variables";

main{
    margin-top: 60px;
    @include flex($jc: flex-start, $align: flex-start);


    .description{
        width:  39%;

        &__header{
            @include flex($jc: space-between);
            

            ul{
               padding: 5px 0 0 0;
               display: flex;
               text-decoration: none;
               list-style: none;

                li{
                    cursor: pointer;
                    font-size: 14px;
                    margin: 0 3px;

                    
                }

                .not-active{
                    position: relative;
                    color: $grey-text-lang;
                    transition: 0.3s;

                    &::before{
                        position: absolute;
                        content: "";
                        width: 100%;
                        height: 1px;
                        background-color: $grey-text-lang;
                        bottom: 2px;
                        transition: 0.3s;

                    }

                    &:hover{
                        color: black;
                    }

                    &:hover::before{
                        width: 0;
                        height: 0;
                    }
                }

            }

        }

        &__input{
            
            label{

                p{
                    margin: 0 0 0 7px;
                    font-size: 14px;
                    margin-top: 26px;  
                    color: $grey-text;
                }

                input, textarea{
                    width: 100%;
                    margin-top: 10px;
                    height: 39px;
                    border-radius: 4px;
                    border: 1px solid rgba(0, 0, 0, 0.3);
                    outline: none;
                    resize: none;
                    padding-left: 13px;
                    font-size: 14px;
                    color: black;
                    

                    &:focus{
                       border: 1px solid #86AFFF;
                    }

                

                }

                textarea{
                    margin-top: 6px;
                    height: 210px;
                    padding-top: 10px;
                }

            }

            label:last-child p {
                margin-top: 30px;
            }
        }

    }

    .images{
        margin-left: 7.7%;
        width: 38.5%;

        &__header{
            margin-bottom: 55px;
        }

        &__pics{
            width: 100%;
            @include flex($jc: flex-start);
            flex-wrap: wrap;

            &_product{
                width: 150px;
                height: 150px;
                border-radius: 24px;
                
                overflow: hidden;
                border: 1px solid $grey-text-lang;
                text-align: center;
                margin-right: 23px;
                margin-bottom: 20px;

                &:nth-child(3){
                    margin-right: 0;
                }
            }

            img{
                width: 100%;
                height: 100%;
                -o-object-fit: cover;
                object-fit: cover;
                object-position: center;
                
            }
        }

        &__drag{
            height: 207px;
            width: 100%;
            @include flex($direction: column);
            border: 1px dashed #c4c4c4;
            border-radius: 10px;
            background: linear-gradient( to right,#FFF1EF, #FEEEF5);
            cursor: pointer;
            

            &_minimized{
                height: 113px;
            }

            &__text{
                font-size: 18px;
                margin-bottom: 8px;
                
            }

            &__formats{
                font-size: 10px;
                margin-bottom: 6px;
            }
        }
    }
}