.pricing {
    margin: 73px 0 86px;
}

table{
    color: $table-text;
    font-size: 14px;
    border-collapse: collapse;
    margin-left: 3px;
    margin-top: 30px;
    
    
    thead{
        
        th{
            padding-bottom:7px;
            text-align: initial;
            padding-left: 4px;
        }
    }


    th{
        font-weight: 400;
        
    }

    td{
        border: 1px solid rgba($color: #000000, $alpha: 0.3);
        margin: 0;
        padding: 7px 50px 7px 15px;
        // width: 35px;
        background-color: white;

        
    }
    .th-name {
        padding-right: 80px;
    }
}