 $backgound-body: linear-gradient(to bottom, #FFF5E1, #FFE9FA);
 $button-gradient: linear-gradient(to right, #F1C8C5, #C6C5F1);
 $grey-text: #666666;
 $table-text: #444444;
 $grey-text-lang: #999999;
 $purple: #6A58B2;
 $black-background: #232323;