@import url("../fonts/stylesheet.css");
* {
  font-family: 'Recoleta';
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #666666;
  font-size: 14px;
}

h1 {
  font-family: 'Recoleta';
  font-size: 48px;
}

h5 {
  font-family: 'Recoleta';
  font-weight: 400;
  font-size: 14px;
  color: #666666;
}

body {
  max-width: 1440px;
  min-height: 1500px;
  background: linear-gradient(to bottom, #FFF5E1, #FFE9FA);
  margin: 0 auto;
}

body .wrapper {
  padding-left: 151px;
  margin: 0 auto;
  padding-top: 38px;
  position: relative;
}

.button {
  width: 152px;
  height: 43px;
  font-size: 18px;
  border: 0px;
  border-radius: 0;
  border: 1px solid black;
  cursor: pointer;
  transition: 0.3s;
}

.button_light {
  margin-left: 2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.button_light * {
  padding: 0 10px;
}

.button_publish {
  background: linear-gradient(to right, #F1C8C5, #C6C5F1);
  box-shadow: -3px 3px #6A58B2;
}

.button_disabled {
  opacity: 0.5;
  pointer-events: none;
}

.button:hover {
  transform: translateY(-5px);
}

header .breadcrumbs a {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 4px;
}

header .breadcrumbs a img {
  padding-right: 5px;
}

.publish {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 58px;
  top: 47px;
}

.publish h5 {
  padding-right: 55px;
}

main {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

main .description {
  width: 39%;
}

main .description__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

main .description__header ul {
  padding: 5px 0 0 0;
  display: flex;
  text-decoration: none;
  list-style: none;
}

main .description__header ul li {
  cursor: pointer;
  font-size: 14px;
  margin: 0 3px;
}

main .description__header ul .not-active {
  position: relative;
  color: #999999;
  transition: 0.3s;
}

main .description__header ul .not-active::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #999999;
  bottom: 2px;
  transition: 0.3s;
}

main .description__header ul .not-active:hover {
  color: black;
}

main .description__header ul .not-active:hover::before {
  width: 0;
  height: 0;
}

main .description__input label p {
  margin: 0 0 0 7px;
  font-size: 14px;
  margin-top: 26px;
  color: #666666;
}

main .description__input label input, main .description__input label textarea {
  width: 100%;
  margin-top: 10px;
  height: 39px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  outline: none;
  resize: none;
  padding-left: 13px;
  font-size: 14px;
  color: black;
}

main .description__input label input:focus, main .description__input label textarea:focus {
  border: 1px solid #86AFFF;
}

main .description__input label textarea {
  margin-top: 6px;
  height: 210px;
  padding-top: 10px;
}

main .description__input label:last-child p {
  margin-top: 30px;
}

main .images {
  margin-left: 7.7%;
  width: 38.5%;
}

main .images__header {
  margin-bottom: 55px;
}

main .images__pics {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

main .images__pics_product {
  width: 150px;
  height: 150px;
  border-radius: 24px;
  overflow: hidden;
  border: 1px solid #999999;
  text-align: center;
  margin-right: 23px;
  margin-bottom: 20px;
}

main .images__pics_product:nth-child(3) {
  margin-right: 0;
}

main .images__pics img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

main .images__drag {
  height: 207px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px dashed #c4c4c4;
  border-radius: 10px;
  background: linear-gradient(to right, #FFF1EF, #FEEEF5);
  cursor: pointer;
}

main .images__drag_minimized {
  height: 113px;
}

main .images__drag__text {
  font-size: 18px;
  margin-bottom: 8px;
}

main .images__drag__formats {
  font-size: 10px;
  margin-bottom: 6px;
}

.wear-models {
  margin-left: 2px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.wear-models__option {
  width: 39%;
  margin-top: 89px;
}

.wear-models__option_question {
  padding-top: 24px;
}

.wear-models .options {
  margin-top: 20px;
}

.wear-models .options_first {
  margin-top: 10px;
}

.wear-models .options__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.wear-models .options__list .options__list__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 8px 10px 0 0;
  border: 1px solid black;
  border-radius: 8px;
  padding: 3px 16px;
  transition: 0.3s;
  cursor: default;
}

.wear-models .options__list .options__list__item p {
  padding: 0 10px;
  cursor: default;
}

.wear-models .options__list .options__list__item button {
  background-color: transparent;
  border: none;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  cursor: pointer;
}

.wear-models .options__list .options__list__item:hover {
  color: white;
  background-color: #232323;
}

.wear-models .options__list .options__list__item:hover button {
  color: white;
}

.wear-models .options__list .options__list__item_active {
  background-color: #232323;
  color: white;
}

.wear-models .options__list .options__list__item_active button {
  color: white;
}

.wear-models .options__list .options__list__item_active:hover {
  background-color: transparent;
  color: #232323;
}

.wear-models .options__list .options__list__item_active:hover button {
  color: #232323;
}

.wear-models .options__list .options__list__item__new {
  cursor: pointer;
  border: 1px dashed black;
}

.wear-models__variants {
  margin-left: 7.7%;
  width: 38.5%;
}

.pricing {
  margin: 73px 0 86px;
}

table {
  color: #444444;
  font-size: 14px;
  border-collapse: collapse;
  margin-left: 3px;
  margin-top: 30px;
}

table thead th {
  padding-bottom: 7px;
  text-align: initial;
  padding-left: 4px;
}

table th {
  font-weight: 400;
}

table td {
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin: 0;
  padding: 7px 78px 7px 15px;
  width: 35px;
  background-color: white;
}

table .th-name {
  padding-right: 138px;
}
/*# sourceMappingURL=main.css.map */